@charset "UTF-8";

body{
	display: block;
	margin:8px;
}
li{
	display: list-item;
	text-align: -webkit-match-parent;
}
ul{
	border-bottom: none;
	padding-bottom: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
a:-webkit-any-link{
	color: -webkit-link;
	cursor: pointer;
	text-decoration: underline;
}
tr{
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
td{
	display: tble-cell;
	vertical-align: inherit;
}
p{
	display: block;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.review_contens{
	width: 1100px;
	margin: auto;
	background-color: #fff;
}
.wrapper{
	max-width: 1100px;
}
.title{
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	color: #000;
}
.sub_title{
	font-size: 14px;
	line-height: 23px;
	font-weight: 700;
	text-align: right;
	float: right;
}
.sub_title .right_arrow{
	height: 11px;
	margin: 0 6px;
	vertical-align: baseline;
}
.sub_title .color{
	color: #ff6f61;
}
.left-container{
	display: inline-block;
	width: 290px;
	padding: 30px 30px 35px;
	border: 1px solid #dadada;
	box-sizing: border-box;
}
.left-container .class_category_container{
	font-size: 14px;
	color:#000;
}
.left-container .title{
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 12px;
	border-bottom: 2.5px solid #141414;
}
.left-container .class_category_list li.on{
	color: #ff6f61;
}
.left-container .class_category_list li{
	padding:14px 0;
	border-bottom: 1px solid #ececec;
	border-collapse: collapse;
	list-style: none;
	cursor: pointer;
	color: #3b3b3b;
}
.left-container .class_category_list li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.right-container{
	display:inline-block;
	float: right;
	width: 740px;
}
.review_contents .right-container .review_wrapper{
	width:100%;
	padding-bottom: 40px;
}
.review_contents .right-container .review_wapper .title{
	font-size: 15px;
	font-weight: 700;
	color: #0d0d0d;
	padding-bottom: 10px;
	border-bottom:2.5px solid #141414;
}
.review_contents .right-container .review_wrapper .rev{
	padding-bottom: 10px;
	border-bottom: 2.5px solid #141414;
}
.review_contents .right-container .review_wrapper .body-wrapper{
	display: flex;
	flex-flow: wrap;
}
.review_contents .right-container .review_wrapper .body-wrapper .review_item {
    flex-basis: 32%;
    margin-top: 10px;
    cursor: pointer;
}
.review_contents .right-container .review_wrapper .body-wrapper .review_item .review_img {
    height: 220px;
    background-position: 50%;
    background-size: cover;
}
.review_contents .right-container .review_wrapper .body-wrapper div:nth-child(3n-1) {
    margin: 10px 2% 0;
}
.review_contents .right-container .review_wrapper .body-wrapper .review_text {
    padding-top: 10px;
}
.review_contents .right-container .review_wrapper .body-wrapper .review_text .review_class {
    font-size: 11px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #ff6f61;
    border-bottom: 2px solid #ff6f61;
    width: fit-content;
    padding-bottom: 1px;
}
.review_contents .right-container .review_wrapper .body-wrapper .review_text .review_title {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #030303;
    margin: 10px 0;
    height: 20px;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}
.review_contents .right-container .review_wrapper .body-wrapper .review_text .review_summary {
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    height: 40px;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}
.css-49ifss {
    position: fixed;
    z-index: 100;
    right: 8px;
    bottom: 54px;
}
























.content .member_header {
    padding: 60px 0 70px;
}
div {
    display: block;
}
.content .member_header .title {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}
* {
    margin: 0;
    padding: 0;
}






