@charset "UTF-8";

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: sans-serif;
	display: block;
}
:not(svg) {
    transform-origin: 0px 0px;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
head {
    display: none;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
    display: block;
}
html body #root {
    height: 100%;
}
div {
    display: block;
}
.ggiCSo {
    width: 1180px;
    margin: 0px auto;
}
.jtRefx {
    width: 100%;
}
.jSSNqy {
    width: 100%;
    height: 57px;
    border-bottom: 1px solid rgba(232, 232, 232, 0.7);
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul, li {
    list-style: none;
}
.eKCsrg {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 31px;
    padding: 21px 35px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 226);
}
.eKCsrg > li {
    font-size: 15px;
    line-height: 24px;
    position: relative;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.eKCsrg > li::before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgb(34, 34, 34);
    position: absolute;
    top: 10px;
    left: -10px;
}
:after, :before {
    box-sizing: border-box;
}
p {
    margin: 0 0 10px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.eKCsrg > li {
    font-size: 15px;
    line-height: 24px;
    position: relative;
}
.eKCsrg > li span {
    color: rgb(50, 108, 249);
}
.eKCsrg > li a {
    text-decoration: underline;
    font-size: 15px;
    color: rgb(50, 108, 249);
}
a:-webkit-any-link {
    cursor: pointer;
}
a {
    background-color: transparent;
}
.eKCsrg > li + li {
    margin-top: 3px;
}
.etFHhl {
    width: 100%;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 0px;
    border: 1px solid rgb(226, 226, 226);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.etFHhl > h1 {
    height: 60px;
    color: rgb(34, 34, 34);
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: relative;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
}
h1 {
    margin: .67em 0;
}
h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.etFHhl > table {
    width: 100%;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    display: table;
}





















































































































