#server은 각자 컴퓨터에서 연결하는 것이기 때문에 github에 올라가지 않도록 처리함
Servers/
.metadata/
pstm_project/PstmProject/.classpath
pstm_project/PstmProject/.settings/
PSTMWebRTC/node_modules
PSTMWebRTC/webrtc_client/node_modules
PSTMWebRTC/webrtc_client/ca_bundle.crt
PSTMWebRTC/webrtc_client/certificate.crt
PSTMWebRTC/webrtc_client/private.key
PSTMWebRTC/webrtc_server/ca_bundle.crt
PSTMWebRTC/webrtc_server/certificate.crt
PSTMWebRTC/webrtc_server/private.key
