<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dietinfomapper">



	<resultMap type="DietinfoDto" id="DietinfoDto">
	
		<result property="dietid" column="DIETID"/>
		<result property="dailyinfoid" column="DAILYINFOID"/>
		<result property="uploadimg" column="UPLOADIMG"/>
		<result property="originimg" column="ORIGINIMG"/>
		<result property="result" column="RESULT"/>
		<result property="eatencount" column="EATENCOUNT"/>
		<result property="timeeat" column="TIMEEAT"/>
		<result property="kcal" column="KCAL"/>
	</resultMap>
	
	
	
	
	<select id="selectList" resultMap="DietinfoDto">
		SELECT DIETID, DAILYINFOID, UPLOADIMG, ORIGINIMG, RESULT, EATENCOUNT, TIMEEAT, KCAL
		FROM PSTM_DIETINFO
		WHERE DAILYINFOID = #{dailyinfoid}
	</select>
	
	<insert id="insert" parameterType="DietinfoDto">
		INSERT INTO PSTM_DIETINFO
		VALUES(DIETIDSEQ.NEXTVAL, #{dailyinfoid}, #{uploadimg}, #{originimg}, #{result}, 0, #{timeeat}, #{kcal})
	</insert>
	
	<update id="update" parameterType="DietinfoDto">
		UPDATE PSTM_DIETINFO SET UPLOADIMG = #{uploadimg}, RESULT = #{result} WHERE DIETID = #{dietid}
	</update>
	
	<delete id="delete" parameterType="DietinfoDto">
		DELETE FROM PSTM_DIETINFO WHERE DAILYINFOID = #{dailyinfoid}
	</delete>	

</mapper>