<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usermapper">

	<resultMap type="UserDto" id="userDto">
		<result property="userid" column="USERID"/>
		<result property="username" column="USERNAME"/>	
		<result property="password" column="PASSWORD"/>	
		<result property="password_key" column="PASSWORD_KEY"/>	
		<result property="phone" column="PHONE"/>	
		<result property="addr" column="ADDR"/>	
		<result property="detailaddr" column="DETAILADDR"/>	
		<result property="usertype" column="USERTYPE"/>	
		<result property="gender" column="GENDER"/>
		<result property="height" column="HEIGHT"/>	
		<result property="uploadimg" column="UPLOADIMG"/>	
		<result property="originimg" column="ORIGINIMG"/>	
		<result property="career" column="CAREER"/>	
		<result property="mycomment" column="MYCOMMENT"/>	
		<result property="admit" column="ADMIT"/>		
	</resultMap>
	
	<select id="selectList" resultType="UserDto">
		SELECT USERID, USERNAME, PASSWORD, PASSWORD_KEY, PHONE, ADDR, DETAILADDR,
		USERTYPE, GENDER, HEIGHT, UPLOADIMG, ORIGINIMG, CAREER, MYCOMMENT, ADMIT
		FROM PSTM_USERINFO ORDER BY USERID DESC
	</select>	
	
	<select id="selectOne" parameterType="int" resultType="UserDto">
		SELECT USERID, USERNAME, PASSWORD, PASSWORD_KEY, PHONE, ADDR, DETAILADDR,
		USERTYPE, GENDER, HEIGHT, UPLOADIMG, ORIGINIMG, CAREER, MYCOMMENT, ADMIT
		FROM PSTM_USERINFO
		WHERE USERID = #{userId}
	</select>
	
	<insert id="insert" parameterType="UserDto">
		INSERT INTO MYBOARD VALUES(
		MYSEQ.NEXTVAL, #{myName}, #{myTitle}, #{myContent}, SYSDATE)
		INSERT INTO PSTM_USERINFO VALUES(
		PSTM_USERSEQ.NEXTVAL, #{username}, #{password}, #{password_key}, #{phone}, 
		#{addr}, #{deatiladdr}, #{usertype}, #{gender}, #{height}, #{uploadimg}, #{originimg}, #{career}, 
		#{mycomment}, #{admit})
	</insert>

	<!-- 이후에 필요한 것 추가해서 사용할 것 -->
	<update id="update" parameterType="UserDto">
		
	</update>

	<delete id="delete" parameterType="int">
	   DELETE FROM PSTM_USERINFO WHERE
	</delete>

</mapper>